APP_NAME=generic-fastapi-sqlserver
APP_ENV=dev

# If FastAPI runs on host: localhost
# If FastAPI runs in compose: sqlserver
DB_HOST=localhost
DB_PORT=1433

# Use an existing DB name; "master" works for dev/testing
DB_NAME=analytics

DB_USER=sa
DB_PASSWORD=<your_password_here>

DB_DRIVER=ODBC Driver 18 for SQL Server
DB_ENCRYPT=no
DB_TRUST_SERVER_CERT=yes
DB_TIMEOUT=5
